<h2 class="view-title">Edit <%= resource_name.to_s.humanize %></h2>

<div class="col-4 offset-4">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="input-group mb-3">
            <%= f.label :first_name, class:"input-group-text" %><br />
            <%= f.text_field :first_name, class:"form-control"  %>
        </div>

        <div class="input-group mb-3">
            <%= f.label :last_name, class:"input-group-text" %><br />
            <%= f.text_field :last_name, class:"form-control"  %>
        </div>

        <div class="input-group mb-3">
            <%= f.label :username, class:"input-group-text" %><br />
            <%= f.text_field :username, class:"form-control" %>
        </div>

        <div class="input-group mb-3">
            <%= f.label :email, class:"input-group-text" %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control"  %>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>
        
        <div class="input-group mb-3">
            <%= f.label :password, class:"input-group-text" %><br />
            <%= f.password_field :password, autocomplete: "new-password", placeholder: "(leave blank if you don't want to change it)", class:"form-control"  %>
            <% if @minimum_password_length %>
            <br />
            <!--<em><%= @minimum_password_length %> characters minimum</em>-->
            <% end %>
        </div>

        <div class="input-group mb-3">
            <%= f.label :password_confirmation, class:"input-group-text" %><br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control"  %>
        </div>

        <div class="input-group mb-3">
            <%= f.label :current_password, class:"input-group-text" %> <br />
            <%= f.password_field :current_password, autocomplete: "current-password", class:"form-control", placeholder: "(we need your current password to confirm your changes)" %>
        </div>

        <div class="actions">
            <%= f.submit "Update", class: "button btn btn-primary btn-lg" %>
        </div>
    <% end %>

    <h3 class="view-title">Cancel my account</h3>

    <p>If you are unhappy with your account, you can cancel it by click the button below.? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "button btn btn-primary btn-lg" %></p>

    <div class="view-title">
        <%= link_to "Back", :back %>
    </div>
</div>
