<%= form_with(model: product_bid) do |form| %>
    <% if product_bid.errors.any? %>
        <div id="error_explanation">
        <h2><%= pluralize(product_bid.errors.count, "error") %> prohibited this product_bid from being saved:</h2>

        <ul>
            <% product_bid.errors.each do |error| %>
            <li><%= error.full_message %></li>
            <% end %>
        </ul>
        </div>
    <% end %>

    <div class="col-4 offset-2">

        <div class="input-group input-group-bid mb-3">
            <%= form.label :amount, class:"input-group-text" %>
            <%= form.text_field :amount, class:"form-control" %>
        </div>

        <div class="button-bid">
            <div class="actions">
                <%= form.submit class: "button btn btn-primary btn-lg" %>
            </div>
        </div>
        
    </div>

<% end %>
