<h1 class="view-title">New Bid</h1>
<div class="bid-actions-back">
    <%= link_to '<i class="fas fa-chevron-circle-left fa-3x"></i>'.html_safe, products_path %>
</div>
<div class="bid-container">
    <div class="bid-details">
        <p>Product: <%=@productnew.name %></p>
        <p>Description: <%=@productnew.description %></p>
        <p>Base price: <%=@productnew.price %> USD</p>
        
        <% if @product_bids.nil?  %>
            
        <% else %>
            <p><strong>Major bid: <%=@product_bids.amount %> USD</strong></p>
		    <p><strong>By: <%=@product_bids.user.username %></strong></p>
        <% end %>
        <p><strong>Deadline: <%=@productnew.limit_date %> </strong></p>

        <% if DateTime.now > @productnew.limit_date %>
            <p><strong>Winner: <%=@product_bids.user.username %></strong></p>
            <p class="passedBid">We are sorry, this product is no longer <br> available. Please comeback later.</p>
        <% else %>
            <p class="inProgressBid">In progress!</p>
        <% end %>
        
        
    </div>
    <span><%= image_tag(@productnew.image, class:'bid-thumbnail') %></span>
</div>

<%= render 'form', product_bid: @product_bid %>



<div class="bid-actions">
    <%= link_to 'Bids history', product_bids_path %>
</div>
