<%= javascript_pack_tag 'hello_vue' %>
<%= notice %>
<h1 class="view-title">Products for sale</h1>


<section class="container">
    <div class="row">
        <% @products.each do |product| %>
            <div class="details">
 
                
                <h4><%= product.name %></p></h4>
                <p><%= product.description %></p>
                <p>ID <%= product.id %></p>
                <p>USD <%= product.price %></p>
                <p>Deadline: <%= product.limit_date.strftime('%d/%m/%Y at %H:%M') %></p>
                <p>Seller: <%= product.user.username %></p>

                <% if @major_bid.nil?%>
                    <p>There is no bid by the moment.</p>
                <% else %>
                    <p>Major bid: <%= @major_bid.amount %></p>
                <% end %>
                
                <% if DateTime.now > product.limit_date  %>
                    <p class="passed">Bid's over :(</p>
                <% else %>
                    <p class="inProgress">In progress!</p>
                <% end %>
                
                
               
                <div class="icons">
                    <span><%= link_to '<i class="fas fa-sack-dollar fa-3x"></i>'.html_safe, new_product_bid_url(product) %></span>
                    <!--<span><%= link_to '<i class="far fa-edit fa-3x"></i>'.html_safe, edit_product_path(product) %></span>
                    <span><%= link_to '<i class="fas fa-trash-alt fa-3x"></i>'.html_safe, product, method: :delete, data: { confirm: 'Are you sure?' } %></span>-->
                </div>
            </div>
        <% end %>
    </div>
</section>










